<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Thanks!</h1>
        <p><%= @name %></p>
        <p><%= @email %></p>
        <p><%= @address %></p>
        <p><%= @city %>, <%= @state %> <%= @zip %></p>
      </div>
    </div>
  </div>
</div>
