<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Thanks!</h1>
        <p><%= @name %></p>
        <p><%= @email %></p>
        <p><%= @address %></p>
        <p><%= @city %>, <%= @state %> <%= @zip %></p>
      </div>
    </div>
  </div>

</div>
<p>Click <a href="https://docs.google.com/spreadsheets/d/12QciOSrHy--AwiVafrqErXqoXnyrR1yauTVxMPqAeHo/edit?usp=sharing" target="_blank">here</a> to see the invitation list.</p>
<p><a href="/">Add another guest.</a></p>
